@media screen and (max-width: 600px) {
    .navbar{
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    .menu-icon{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .profile-container img{
        margin-top: -30px;
        width: 280px;
    }
}