@media screen and (max-width: 600px) {
    .menu-icon{
        display: block;
        font-size: 1.5rem;
    }
    .nav-links{
        display: none;
    }
    .profilepic1{
        left: 10%;
        top: 7%;
        width: 280px; 
    }
    .intro-container{
        top: 15%;
        font-size: 0.8rem;
    }
    .name{
        margin-top: 70%;
    }
    .connect-container{
        margin-top: 10px;
    }
    .btn-grp button{
        padding: .5rem 1rem;
    }
    .btn-grp a{
        font-size: 0.8rem;
    }
    .name, .role{
        font-size: 1.5rem;
    }
    .link-container i{
        font-size: .5rem;
    }
    .links-container{
        margin: 0.5rem;
    }
}
