@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/* basics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--font-color);
    /* font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; */
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: none;
    scroll-behavior:smooth;
}


:root {
    --background-color: #EEEEEE;
    --primary-color: #169976;
    --secondary-color: #1DCD9F;
    --font-color: #222222;
    --gradient-color: #3b8eed;
}

/* Navbar */
header {
    position: relative;
}

.logo {
    font-weight: 600;
    font-size: 1.3rem;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.main-navbar ul {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    margin-left: 3rem;
    padding-bottom: 10px;
}

.nav-links a:hover {
    border-bottom: 2px solid black;

}



/* Side Navbar */
.menu-icon {
    display: none;
}

.side-navbar {
    display: none;
    font-size: 1.2rem;
    right: 0;
    margin: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    top: 0;
    border-radius: 10px;
}

.side-navbar ul {
    display: block;
    list-style: none;
    margin-right: 5rem;
}

.side-nav-links a {
    text-decoration: none;
}


.side-nav-links {
    padding: 1rem 0;
}

.cross-icon {
    font-size: 1.5rem;
}

/* herosection */
.greeting {
    margin: 1rem;
    font-size: 2.5rem;
}

.name {
    font-size: 25rem;
    display: flex;
    margin: 1rem;
    z-index: -1;
    animation: myname .5s ease-in 1;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilepic {
    width: 750px;
    position: absolute;
    top: 0%;
    animation: profilepic 0.7s ease-out forwards;
    overflow: hidden;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);

}

.quotes {
    font-size: 1.3rem;
    margin: -1rem 2rem;
}

@keyframes myname {
    from {
        transform: translatex(-100px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes profilepic {
    from {
        opacity: 0;
        transform: translateY(30px) scale(1);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

#Works{
    width: 100%;
    margin-top: 10rem;
    background-color: black;
    padding: 3rem;
}

#Works div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Works h3{
    font-size: 4rem;
    color: var(--background-color);
}


  